/* зверніть увагу на шріфти 
   робив так перший раз треба перевірити абсолютно все (all sans-serif and all about I do not think) */

@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins-ExtraLight.ttf) format("truetype"),
        url(../assets/fonts/Poppins-ExtraLight.woff) format("woff"),
        url(../assets/fonts/Poppins-ExtraLight.woff2) format("woff2");
    font-weight: 200;
}

@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins-Regular.ttf) format("truetype"),
        url(../assets/fonts/Poppins-Regular.woff) format("woff"),
        url(../assets/fonts/Poppins-Regular.woff2) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins-SemiBold.ttf) format("truetype"),
        url(../assets/fonts/Poppins-SemiBold.woff) format("woff"),
        url(../assets/fonts/Poppins-SemiBold.woff2) format("woff2");
    font-weight: 600;
}

body {
    background-color: #F2F2F2;
    max-width: 1440px;
    max-height: 922px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head {
    max-width: 540px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 64px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.25px;
    color: #4D4F62;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.25px;
    color: #4D4F62;
    margin-bottom: 16px;
}

.head p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.1px;
    color: #4D4F62;
    mix-blend-mode: normal;
    opacity: 0.5;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #4D4F62;
    margin-bottom: 6px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.0902778px;
    color: #4D4F62;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.cards article {
    width: 350px;
    height: 250px;
    background-color: #fff;
    border-radius: 8px;
    padding: 32px;
    position: relative;

    background: #FFFFFF;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
    border-radius: 8px;

}

.cards article:nth-child(1) {
    border-top: 8px solid #44D3D2;
}

.cards div article:nth-child(1) {
    border-top: 8px solid #FF637B;
}

.cards article:nth-child(3) {
    border-top: 8px solid #377FD2;
}

.cards div article:nth-child(2) {
    border-top: 8px solid #FF9100;
}

.cards {
    max-width: 1110px;
    min-height: 530px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.cards img {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-50%, -50%);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 768px) {
    section {
        padding-bottom: 80px;
    }

    .head {
        max-width: 311px;
        margin-top: 85px;
        margin-bottom: 75px;
    }

    h1,
    h2 {
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 0.16px;
        color: #4D4F62;
    }

    .cards {
        flex-direction: column;
        gap: 25px;
    }

    .cards article {
        width: 311px;
        height: 222px;
    }

}